.high {
    background-color: pink;
    opacity: .5;
}

.low {
    background-color: turquoise;
    opacity: .5;
}

.course_container {
    position: relative;
}

@media screen and (max-width: 600px) {
    .list_group {
        position: absolute;
        top: 100%;
        z-index: 1;
        border: 1px solid;
        box-shadow: 10px 10px 5px #888888;
        padding-right: 5%;
    }
    .display {
        margin-bottom: 10px;
    }
}

.list_group {
    position: absolute;
    top: 100%;
    z-index: 1;
    border: 1px solid;
    box-shadow: 10px 10px 5px #888888;
    padding-right: 15%;
    left: 100px;
}

.sort, .buttons, .display{
    margin-top: 15px;
    margin-bottom: 15px;
}

.list_item {
    display: block;
}

ul.list_group {
    color: white;
    background-color: black;
}

li.list_item:hover {
    color: black;
    background-color: white;
}

.footer {
    margin-top: 20px;
}

.pink {
    border: 4px solid pink;
}

.blue {
    border: 4px solid turquoise;
}
